{{ vars.multilingual_dumper.imports|generate_import }}


class {{ vars.multilingual_dumper|class_header }}:
    """Multilingual search dumper."""

    paths = {{ paths }}
    SUPPORTED_LANGS = {{ langs }}

    def dump(self, record, data):
        super().dump(record, data)

    def load(self, record, data):
        super().load(record, data)