from invenio_records.dumpers import SearchDumperExt
from functools import reduce
import operator
from copy import deepcopy
from deepmerge import always_merger


def getFromDict(dataDict, mapList):
    return reduce(operator.getitem, mapList, dataDict)

class MultilingualDumper(SearchDumperExt):
    """{{ current_model.record_class|base_name }} search dumper."""
    def dump(self, record, data):
        paths = {{ paths }}
        SUPPORTED_LANGS = {{ langs }}

        for path in paths:
            new_elements = {}
            record2 = record
            path_array = path.split('/')
            path_array2 = []

            for x in path_array:
                path_array2.append(x)

            path_array2.pop(0)
            path_array2 = path_array2[:-1]

            for x in path_array2:
                record2 = record2[x]
            path_array.pop(0)
            multilingual_element = getFromDict(record, path_array)

            for rec in multilingual_element:
                if rec['lang'] in SUPPORTED_LANGS:
                    el_name = path_array[-1]  + "_" + rec['lang']
                    always_merger.merge(new_elements, {el_name: rec['value']})

            always_merger.merge(record2, new_elements)
        data.update(deepcopy(dict(record)))
        return data

    def load(self, record, data):
        paths = {{ paths }}
        SUPPORTED_LANGS = {{ langs }}
        for path in paths:
            record2 = record
            path_array = path.split('/')
            path_array2 = []
            for x in path_array:
                path_array2.append(x)

            path_array2.pop(0)
            path_array2 = path_array2[:-1]

            for x in path_array2:
                record2 = record2[x]

            path_array.pop(0)
            multilingual_element = getFromDict(record, path_array)
            for rec in multilingual_element:
                if rec['lang'] in SUPPORTED_LANGS:
                    el_name = path_array[-1]  + "_" + rec['lang']
                    del record2[el_name]
        return data
