from {{ current_model.multilingual_dumper_class|package_name }} import MultilingualDumper


{% for b in current_model.record_bases %}
from {{ b|package_name }} import {{ b|base_name }}
{% endfor %}

class {{ current_model.record_class|base_name }}({% for b in current_model.record_bases %}{{ b|base_name }}, {% endfor %}InvenioBaseRecord):
    dumper_extensions = [
    MultilingualDumper()
    ]

